html, body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 17% 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 5%;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    margin: 0px;
    padding: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: left;
    grid-row: 1 / span 6;
}
.title{
    color: rgb(175, 175, 175);
    font-size: 18px;
}
.navtext, a{
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
}
.NavSVG{
    padding: 20px;
    height: 60%;
    margin-top: auto;
    align-self:center;
    justify-self: end;
    padding-bottom: 0px;
}
header{
    background-color: rgba(96, 15, 1, 1);
    grid-row: 1 /span 1;
    grid-column: 2 / span 3;
    text-align: right;
}
.HeaderSVG{
    height: 70%;
    padding: 5px;
}
main{
    background-color: rgba(217, 217, 217, 1);
    grid-row: 2 / span 1;
    grid-column: 2 /span 3;
}
.MainGrid{
    display: grid;
    grid-template-rows: 10% 1fr 10% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.Übertitel{
    grid-column: 1 / span 3;
    font-size: 25px;
    color: rgba(96, 15, 1, 1);
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}
.MainSVG{
    height: 85%;
    position: absolute;
    right: 5%;
    z-index: 0;
}
footer{
    background-color: rgba(170, 45, 0, 1);
    grid-row: 3 / span 1;
    grid-column: 2 /span 3;
    padding: 5px;
    text-align: start;
}
